html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name="viewport" content="initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1, width=device-width")

    title Template email
    link(rel='stylesheet' href='style.css')

  body

    h2  Test Work dsf